.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-image: url("addOff.jpg");
    -fx-background-size: 1035 600;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #E1BEE7;
    -fx-font-size : 12px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #000000 ;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: #000000 ;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #b3daff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #99ceff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

@keyframes monkey {
    0% { background-position: 0 0; }
    50% { background-position: 0 -100px; }
}

.choice-box {
          -fx-background-color:
             #c3c4c4,
            linear-gradient(#d6d6d6 50%, white 100%),
            radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
            -fx-background-radius: 30;
            -fx-background-insets: 0,1,1;
            -fx-text-fill: #212121;
            -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}